# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/FoodMood/nbproject/private/
/nbproject/private/
/dist/
/build/
/foodmood.db
/FoodMood - Analytic/nbproject/private/
/FoodMood - Analytic/build/
/FoodMood - Mobile/nbproject/private/
/FoodMood - Mobile/build/
/FoodMood - Mobile/Data.ser
/FoodMood - Analytic/users.json